In [1]:
x = list(range(20, 91, 5))
y = list(range(24, 95, 5))
x, y

([20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90],
 [24, 29, 34, 39, 44, 49, 54, 59, 64, 69, 74, 79, 84, 89, 94])

In [2]:
for a, b in zip(x, y):
    print("'{}-{}',".format(a, b))

'20-24',
'25-29',
'30-34',
'35-39',
'40-44',
'45-49',
'50-54',
'55-59',
'60-64',
'65-69',
'70-74',
'75-79',
'80-84',
'85-89',
'90-94',

In [31]:
cols = []
csvFemalecols = []
newMaleCols = []
for a, b in zip(x, y):
    cols.append("d['{}-{}_men'],".format(a, b))
    newMaleCols.append("{}-{}_men".format(a, b))
    csvFemalecols.append("Ledige{}-{} JahreFrauen Total+/-".format(a, b))
print(*cols)
csvFemalecols

d['20-24_men'], d['25-29_men'], d['30-34_men'], d['35-39_men'], d['40-44_men'], d['45-49_men'], d['50-54_men'], d['55-59_men'], d['60-64_men'], d['65-69_men'], d['70-74_men'], d['75-79_men'], d['80-84_men'], d['85-89_men'], d['90-94_men'],

['Ledige20-24 JahreFrauen Total+/-',
 'Ledige25-29 JahreFrauen Total+/-',
 'Ledige30-34 JahreFrauen Total+/-',
 'Ledige35-39 JahreFrauen Total+/-',
 'Ledige40-44 JahreFrauen Total+/-',
 'Ledige45-49 JahreFrauen Total+/-',
 'Ledige50-54 JahreFrauen Total+/-',
 'Ledige55-59 JahreFrauen Total+/-',
 'Ledige60-64 JahreFrauen Total+/-',
 'Ledige65-69 JahreFrauen Total+/-',
 'Ledige70-74 JahreFrauen Total+/-',
 'Ledige75-79 JahreFrauen Total+/-',
 'Ledige80-84 JahreFrauen Total+/-',
 'Ledige85-89 JahreFrauen Total+/-',
 'Ledige90-94 JahreFrauen Total+/-']

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('final_dataset_totals_id.csv')

In [6]:
df.head()

,GDENR,Gemeinde,Ledige Männer Total +/-,Ledige Frauen Total +/-,Ledige20-24 JahreFrauen Total+/-,Ledige20-24 JahreMänner Total+/-,Ledige25-29 JahreFrauen Total+/-,Ledige25-29 JahreMänner Total+/-,Ledige30-34 JahreFrauen Total+/-,Ledige30-34 JahreMänner Total+/-,...,Ledige70-74 JahreFrauen Total+/-,Ledige70-74 JahreMänner Total+/-,Ledige75-79 JahreFrauen Total+/-,Ledige75-79 JahreMänner Total+/-,Ledige80-84 JahreFrauen Total+/-,Ledige80-84 JahreMänner Total+/-,Ledige85-89 JahreFrauen Total+/-,Ledige85-89 JahreMänner Total+/-,Ledige90-94 JahreFrauen Total+/-,Ledige90-94 JahreMänner Total+/-
0,1,Aeugst am Albis,-27,27,-11,11,-8,8,-3,3,...,9,-9,5,-5,16,-16,15,-15,4,-4
1,2,Affoltern am Albis,-111,111,-82,82,-71,71,-67,67,...,60,-60,80,-80,86,-86,56,-56,30,-30
2,3,Bonstetten,-103,103,-14,14,13,-13,-6,6,...,18,-18,25,-25,14,-14,8,-8,6,-6
3,4,Hausen am Albis,-113,113,-19,19,13,-13,0,0,...,6,-6,24,-24,14,-14,10,-10,4,-4
4,5,Hedingen,10,-10,-16,16,-11,11,-34,34,...,2,-2,4,-4,13,-13,12,-12,1,-1

In [11]:
csv_cols = df.columns

In [12]:
len(csv_cols)

34

In [19]:
for col in csvFemalecols:
    del df[col]

In [22]:
del df['Ledige Frauen Total +/-']

In [29]:
newColumns = ['GDENR', 'Gemeinde', 'Ledige Männer Total +/-']
newColumns.extend(newMaleCols)
len(newColumns)

18

In [30]:
df.columns = newColumns
df.to_csv('singles_dataset.csv', index=False)

In [41]:
df_total = df[['GDENR', 'Gemeinde', 'Ledige Männer Total +/-']]
df_total.head()
df_total.columns = ['GDENR', 'Gemeinde', 'Singles_total']
df_total.to_csv('singles_total.csv', index=False)

In [42]:
selColumns = ['GDENR']
selColumns.extend(newMaleCols)
df_age_spans = df[selColumns]
df_age_spans.head()
df_age_spans.to_csv('singles_by_age.csv', index=False)