In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
import dateutil.parser
import re

# Wo leben am meisten überschüssige Ledige?

In [28]:
df_m = pd.read_csv('data/ledige_männer_2015.csv')
df_w = pd.read_csv('data/ledige_frauen_2015.csv')

In [29]:
df = df_w.merge(df_m, left_on='Gemeinde', right_on='Gemeinde')

# Total

In [30]:
del_col = [i for i in df.columns if i.find('Ledige') < 0 and i.find('Gemeinde') < 0]
for col in del_col:
    del df[col]

In [31]:
df[df['Gemeinde'].str.contains('Genè')]

,Gemeinde,Ledige20-24 JahreFrauen Total,Ledige25-29 JahreFrauen Total,Ledige30-34 JahreFrauen Total,Ledige35-39 JahreFrauen Total,Ledige40-44 JahreFrauen Total,Ledige45-49 JahreFrauen Total,Ledige50-54 JahreFrauen Total,Ledige55-59 JahreFrauen Total,Ledige60-64 JahreFrauen Total,...,Ledige55-59 JahreMänner Total,Ledige60-64 JahreMänner Total,Ledige65-69 JahreMänner Total,Ledige70-74 JahreMänner Total,Ledige75-79 JahreMänner Total,Ledige80-84 JahreMänner Total,Ledige85-89 JahreMänner Total,Ledige90-94 JahreMänner Total,Ledige95-99 JahreMänner Total,Ledige100 Jahre und mehrMänner Total
2242,......6621 Genève,5617,6691,5635,4243,3616,3237,3386,2809,2655,...,2128,1632,1316,1054,779,591,423,219,42,9

In [32]:
for col in ['Ledige95-99 JahreFrauen Total', 'Ledige100 Jahre und mehrFrauen Total', 'Ledige95-99 JahreMänner Total',
       'Ledige100 Jahre und mehrMänner Total']:
    del df[col]
df.columns

Index(['Gemeinde', 'Ledige20-24 JahreFrauen Total',
       'Ledige25-29 JahreFrauen Total', 'Ledige30-34 JahreFrauen Total',
       'Ledige35-39 JahreFrauen Total', 'Ledige40-44 JahreFrauen Total',
       'Ledige45-49 JahreFrauen Total', 'Ledige50-54 JahreFrauen Total',
       'Ledige55-59 JahreFrauen Total', 'Ledige60-64 JahreFrauen Total',
       'Ledige65-69 JahreFrauen Total', 'Ledige70-74 JahreFrauen Total',
       'Ledige75-79 JahreFrauen Total', 'Ledige80-84 JahreFrauen Total',
       'Ledige85-89 JahreFrauen Total', 'Ledige90-94 JahreFrauen Total',
       'Ledige20-24 JahreMänner Total', 'Ledige25-29 JahreMänner Total',
       'Ledige30-34 JahreMänner Total', 'Ledige35-39 JahreMänner Total',
       'Ledige40-44 JahreMänner Total', 'Ledige45-49 JahreMänner Total',
       'Ledige50-54 JahreMänner Total', 'Ledige55-59 JahreMänner Total',
       'Ledige60-64 JahreMänner Total', 'Ledige65-69 JahreMänner Total',
       'Ledige70-74 JahreMänner Total', 'Ledige75-79 JahreMänner Total',
       'Ledige80-84 JahreMänner Total', 'Ledige85-89 JahreMänner Total',
       'Ledige90-94 JahreMänner Total'],
      dtype='object')

In [26]:
#cols = [i.replace('Ledige', 'Single').replace('Jahre','').replace('Frauen', 'Women').replace('Männer','Men').replace('Total','').replace(' ','') for i in df.columns]
#df.columns = cols

In [33]:
df.to_csv('data/raw_totals.csv')

In [ ]:
df[df['Gemeinde'].str.contains('Genè')]['Ledige Männer Total +/-']

In [ ]:
ledigeFrauenCols = [i for i in df.columns if i.find('JahreFrauen') >= 0][:-1]
df[df['Gemeinde'].str.contains('Genè')][ledigeFrauenCols]

In [12]:
df[df['Gemeinde'].str.contains('Genè')]

,Gemeinde,Frauen - Total,Total ledige Frauen ab 20,Anteil ledige Frauen,Ledige20-24 JahreFrauen Total,Anteil20-24 Jahre_x,Ledige25-29 JahreFrauen Total,Anteil25-29 Jahre_x,Ledige30-34 JahreFrauen Total,Anteil30-34 Jahre_x,...,Ledige70-74 JahreFrauen Total+/-,Ledige70-74 JahreMänner Total+/-,Ledige75-79 JahreFrauen Total+/-,Ledige75-79 JahreMänner Total+/-,Ledige80-84 JahreFrauen Total+/-,Ledige80-84 JahreMänner Total+/-,Ledige85-89 JahreFrauen Total+/-,Ledige85-89 JahreMänner Total+/-,Ledige90-94 JahreFrauen Total+/-,Ledige90-94 JahreMänner Total+/-
2242,......6621 Genève,102926,67625,65.7,5617,5.5,6691,6.5,5635,5.5,...,1466,-1466,1266,-1266,1499,-1499,1437,-1437,932,-932

In [ ]:
df[['Gemeinde', 'Ledige Männer Total +/-']].sort_values(by='Ledige Männer Total +/-', ascending=False).head()

In [ ]:
df['Ledige Frauen Total +/-'] = df['Total ledige Frauen ab 20'] - df['Total ledige Männer ab 20']

In [ ]:
df[['Gemeinde', 'Ledige Frauen Total +/-']].sort_values(by='Ledige Frauen Total +/-', ascending=False).head()

# Datensammlung mit allen Überschüssen M/W pro Alterskategorie

In [4]:
del df['Unnamed: 0_x']
del df['Unnamed: 0_y']
del df['Geschlecht_x']
del df['Geschlecht_y']

In [5]:
age_cat_all = list(df.columns)
age_cat_w = age_cat_all[4:33]
age_cat_w = age_cat_w[::2]

In [6]:
age_cat_m = list(df.columns)
age_cat_m = age_cat_m[41:73][::2]

In [7]:
for age_w, age_m in zip(age_cat_w, age_cat_m):
    df[age_w +'+/-'] = df[age_w] - df[age_m]
    df[age_m +'+/-'] = df[age_m] - df[age_w]

# Women/Men +/- per 100

In [ ]:
#number of women and men plus/minus by 100
df_all = pd.read_csv('data/2015_TOTAL_bis100.csv', encoding='latin', sep='\t', skiprows=1)
df_all_2 = pd.read_csv('data/2015_TOTAL_100+.csv', encoding='latin', sep='\t', skiprows=1)

In [ ]:
del df_all_2['Kanton (-) / Bezirk (>>) / Gemeinde (......)']

In [ ]:
df_all = pd.concat([df_all, df_all_2], axis=1, join='inner')

In [ ]:
del df_all['Bevölkerungstyp']
del df_all['Geschlecht']
del df_all['Zivilstand']
del df_all['Jahr']

In [ ]:
df_pro1000 = df_plusminus.merge(df_all, left_on='Gemeinde', right_on='Kanton (-) / Bezirk (>>) / Gemeinde (......)')

In [ ]:
#List of total population
gemeinde_bev_total = list(df_pro1000.columns[34:])
gemeinde_ledige_frauen_total = list(df_pro1000.columns[3:33][::2])
gemeinde_ledige_frauen_total.insert(0, 'Ledige Frauen Total +/-')

In [ ]:
gemeinde_ledige_männer_total = list(df_pro1000.columns[4:34][::2])
Männer_total = df_pro1000.columns[2:3]
gemeinde_ledige_männer_total.insert(0, 'Ledige Männer Total +/-')

In [ ]:
df_pro1000['Ledige Männer total pro 100'] = round(df_pro1000['Ledige Männer Total +/-'] / df_pro1000['Altersklasse - Total'] * 100, 1)

In [ ]:
for value in gemeinde_ledige_frauen_total:
    value_name = value.replace('Ledige', '').replace('Total', '').replace('Jahre', ' jährige')
    df_pro1000[value_name + ' pro 100'] = round(df_pro1000[value] / df_pro1000['Altersklasse - Total'] * 100, 1)

In [ ]:
for value in gemeinde_ledige_männer_total:
    value_name = value.replace('Ledige', '').replace('Total', '').replace('Jahre', ' jährige')
    df_pro1000[value_name + ' pro 100'] = round(df_pro1000[value] / df_pro1000['Altersklasse - Total'] * 100, 1)

In [ ]:
df_pro1000[['Gemeinde', '20-24  jährigeFrauen +/- pro 100']].sort_values(by='20-24  jährigeFrauen +/- pro 100', ascending=False).head()

[['Gemeinde', 'Ledige Männer total pro 100']].sort_values(by='Ledige Männer total pro 100', ascending=False).head(5)

## All the columns

In [ ]:
df.to_csv('All Columns.csv', index=False)

In [ ]:
df.to_csv[df.to_csv['Gemeinde']== ]

## The absolute number of single men and women

In [8]:
df_plusminus = pd.concat([pd.DataFrame(df['Gemeinde']), df[list(df.columns[75:])]], axis=1, join='inner')

In [10]:
df_plusminus[df_plusminus['Gemeinde'].str.contains('Genè')]

,Gemeinde,Ledige20-24 JahreFrauen Total+/-,Ledige20-24 JahreMänner Total+/-,Ledige25-29 JahreFrauen Total+/-,Ledige25-29 JahreMänner Total+/-,Ledige30-34 JahreFrauen Total+/-,Ledige30-34 JahreMänner Total+/-,Ledige35-39 JahreFrauen Total+/-,Ledige35-39 JahreMänner Total+/-,Ledige40-44 JahreFrauen Total+/-,...,Ledige70-74 JahreFrauen Total+/-,Ledige70-74 JahreMänner Total+/-,Ledige75-79 JahreFrauen Total+/-,Ledige75-79 JahreMänner Total+/-,Ledige80-84 JahreFrauen Total+/-,Ledige80-84 JahreMänner Total+/-,Ledige85-89 JahreFrauen Total+/-,Ledige85-89 JahreMänner Total+/-,Ledige90-94 JahreFrauen Total+/-,Ledige90-94 JahreMänner Total+/-
2242,......6621 Genève,276,-276,79,-79,-336,336,-212,212,-34,...,1466,-1466,1266,-1266,1499,-1499,1437,-1437,932,-932

In [ ]:
def prepping_gemeinde(x):
    return x[11:]

In [ ]:
df_plusminus['Gemeinde'] = df_plusminus['Gemeinde'].apply(prepping_gemeinde)

In [ ]:
df_plusminus.to_csv('final_dataset_totals.csv', index=False)

## Men/Women +/- per 100 inhabitants

In [ ]:
#Pulling out relevant columns
final_dataset = pd.concat([pd.DataFrame(df_pro1000.loc[:, 'Gemeinde']), df_pro1000.loc[:, ' Frauen  +/- pro 100':]], axis=1, join='inner')

In [ ]:
final_dataset['Gemeinde'] = final_dataset['Gemeinde'].apply(prepping_gemeinde)

In [ ]:
final_dataset.to_csv('final_dataset_per100.csv', index=False)