# Ledige Schweizer

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
import dateutil.parser

# Feeding in the data for ledige Frauen

In [2]:
#Total and 20-39
df_M_39 = pd.read_csv('data/2015_M_TOTAL_20bis39.csv', encoding='latin', sep='\t', skiprows=1)
#40-64
df_M_64 = pd.read_csv('data/2015_M_TOTAL_40bis64.csv', encoding='latin', sep='\t', skiprows=1)
#65-89
df_M_89 = pd.read_csv('data/2015_M_TOTAL_65bis89.csv', encoding='latin', sep='\t', skiprows=1)
#90-100+
df_M_100 = pd.read_csv('data/2015_M_TOTAL_90bis100+.csv', encoding='latin', sep='\t', skiprows=1)

In [3]:
#Deleting the columns I don' need
del df_M_64['Kanton (-) / Bezirk (>>) / Gemeinde (......)']
del df_M_64['Bevölkerungstyp']
del df_M_64['Geschlecht']
del df_M_64['Zivilstand']
del df_M_64['Jahr']

In [4]:
del df_M_89['Kanton (-) / Bezirk (>>) / Gemeinde (......)']
del df_M_89['Bevölkerungstyp']
del df_M_89['Geschlecht']
del df_M_89['Zivilstand']
del df_M_89['Jahr']

In [5]:
df_M_100.head()
del df_M_100['Kanton (-) / Bezirk (>>) / Gemeinde (......)']
del df_M_100['Bevölkerungstyp']
del df_M_100['Geschlecht']
del df_M_100['Zivilstand']
del df_M_100['Jahr']

In [6]:
df = pd.concat([df_M_39, df_M_64, df_M_89, df_M_100], axis=1, join='inner')

In [7]:
df

,Jahr,Kanton (-) / Bezirk (>>) / Gemeinde (......),Bevölkerungstyp,Geschlecht,Zivilstand,Altersklasse - Total,20-24 Jahre,25-29 Jahre,30-34 Jahre,35-39 Jahre,...,55-59 Jahre,60-64 Jahre,65-69 Jahre,70-74 Jahre,75-79 Jahre,80-84 Jahre,85-89 Jahre,90-94 Jahre,95-99 Jahre,100 Jahre und mehr
0,2015,......0001 Aeugst am Albis,Ständige Wohnbevölkerung,Mann,Zivilstand - Total,987,56,37,38,65,...,81,72,62,44,23,13,5,2,0,0
1,2015,......0001 Aeugst am Albis,Ständige Wohnbevölkerung,Mann,Ledig,450,55,33,25,20,...,15,6,4,2,1,1,1,0,0,0
2,2015,......0001 Aeugst am Albis,Ständige Wohnbevölkerung,Mann,"Verwitwet, durch Tod aufgelöste Partnerschaft",15,0,0,1,0,...,0,1,2,3,2,2,2,0,0,0
3,2015,......0001 Aeugst am Albis,Ständige Wohnbevölkerung,Mann,"Geschieden, unverheiratet, gerichtlich aufgelö...",58,0,0,1,4,...,11,11,7,3,1,1,0,0,0,0
4,2015,......0002 Affoltern am Albis,Ständige Wohnbevölkerung,Mann,Zivilstand - Total,5818,427,439,442,395,...,414,336,281,227,177,113,66,16,3,0
5,2015,......0002 Affoltern am Albis,Ständige Wohnbevölkerung,Mann,Ledig,2721,395,337,222,170,...,50,34,15,14,6,3,3,0,0,0
6,2015,......0002 Affoltern am Albis,Ständige Wohnbevölkerung,Mann,"Verwitwet, durch Tod aufgelöste Partnerschaft",108,0,0,0,1,...,7,9,8,15,21,15,18,8,1,0
7,2015,......0002 Affoltern am Albis,Ständige Wohnbevölkerung,Mann,"Geschieden, unverheiratet, gerichtlich aufgelö...",390,0,3,10,17,...,79,57,38,24,15,0,1,0,0,0
8,2015,......0003 Bonstetten,Ständige Wohnbevölkerung,Mann,Zivilstand - Total,2614,138,112,172,201,...,168,135,138,109,68,36,22,6,0,0
9,2015,......0003 Bonstetten,Ständige Wohnbevölkerung,Mann,Ledig,1196,136,93,97,64,...,21,9,10,3,3,3,1,0,0,0
10,2015,......0003 Bonstetten,Ständige Wohnbevölkerung,Mann,"Verwitwet, durch Tod aufgelöste Partnerschaft",26,0,0,0,0,...,1,0,4,3,2,5,6,2,0,0
11,2015,......0003 Bonstetten,Ständige Wohnbevölkerung,Mann,"Geschieden, unverheiratet, gerichtlich aufgelö...",163,0,0,2,12,...,22,24,19,14,6,1,0,0,0,0
12,2015,......0004 Hausen am Albis,Ständige Wohnbevölkerung,Mann,Zivilstand - Total,1687,95,51,91,101,...,130,104,105,84,48,30,12,3,0,0
13,2015,......0004 Hausen am Albis,Ständige Wohnbevölkerung,Mann,Ledig,730,93,46,52,37,...,17,6,3,4,1,2,0,0,0,0
14,2015,......0004 Hausen am Albis,Ständige Wohnbevölkerung,Mann,"Verwitwet, durch Tod aufgelöste Partnerschaft",20,0,0,0,0,...,0,0,3,4,5,2,2,2,0,0
15,2015,......0004 Hausen am Albis,Ständige Wohnbevölkerung,Mann,"Geschieden, unverheiratet, gerichtlich aufgelö...",134,0,1,2,6,...,18,15,17,10,6,3,1,0,0,0
16,2015,......0005 Hedingen,Ständige Wohnbevölkerung,Mann,Zivilstand - Total,1844,118,99,101,114,...,125,106,109,69,46,31,12,4,1,1
17,2015,......0005 Hedingen,Ständige Wohnbevölkerung,Mann,Ledig,824,118,81,66,36,...,10,6,7,2,0,2,0,0,0,0
18,2015,......0005 Hedingen,Ständige Wohnbevölkerung,Mann,"Verwitwet, durch Tod aufgelöste Partnerschaft",40,0,0,0,2,...,1,2,3,7,8,6,4,3,1,1
19,2015,......0005 Hedingen,Ständige Wohnbevölkerung,Mann,"Geschieden, unverheiratet, gerichtlich aufgelö...",126,0,0,3,8,...,20,15,15,8,3,2,0,0,0,0
20,2015,......0006 Kappel am Albis,Ständige Wohnbevölkerung,Mann,Zivilstand - Total,512,24,20,26,34,...,33,29,33,16,11,2,8,1,1,0
21,2015,......0006 Kappel am Albis,Ständige Wohnbevölkerung,Mann,Ledig,235,24,18,12,14,...,3,4,3,2,0,0,0,0,0,0
22,2015,......0006 Kappel am Albis,Ständige Wohnbevölkerung,Mann,"Verwitwet, durch Tod aufgelöste Partnerschaft",9,0,0,0,0,...,0,0,1,0,1,0,3,1,1,0
23,2015,......0006 Kappel am Albis,Ständige Wohnbevölkerung,Mann,"Geschieden, unverheiratet, gerichtlich aufgelö...",38,0,0,2,0,...,6,6,5,2,0,0,0,0,0,0
24,2015,......0007 Knonau,Ständige Wohnbevölkerung,Mann,Zivilstand - Total,1063,62,59,57,63,...,64,54,49,47,33,19,10,1,0,0
25,2015,......0007 Knonau,Ständige Wohnbevölkerung,Mann,Ledig,497,60,52,31,24,...,6,4,1,0,1,1,1,0,0,0
26,2015,......0007 Knonau,Ständige Wohnbevölkerung,Mann,"Verwitwet, durch Tod aufgelöste Partnerschaft",15,0,0,0,0,...,1,0,1,0,2,3,4,1,0,0
27,2015,......0007 Knonau,Ständige Wohnbevölkerung,Mann,"Geschieden, unverheiratet, gerichtlich aufgelö...",63,0,0,2,2,...,8,7,7,8,4,1,1,0,0,0
28,2015,......0008 Maschwanden,Ständige Wohnbevölkerung,Mann,Zivilstand - Total,333,19,12,23,25,...,14,22,16,15,8,4,2,3,0,0
29,2015,......0008 Maschwanden,Ständige Wohnbevölkerung,Mann,Ledig,160,16,12,10,12,...,1,1,4,1,2,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9266,2015,......6793 Lugnez,Ständige Wohnbevölkerung,Mann,"Verwitwet, durch Tod aufgelöste Partnerschaft",2,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
9267,2015,......6793 Lugnez,Ständige Wohnbevölkerung,Mann,"Geschieden, unverheiratet, gerichtlich aufgelö...",6,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
9268,2015,......6800 Porrentruy,Ständige Wohnbevölkerung,Mann,Zivilstand - Total,3338,286,245,202,177,...,230,193,169,170,115,93,50,26,3,0
9269,2015,......6800 Porrentruy,Ständige Wohnbevölkerung,Mann,Ledig,1627,277,214,129,84,...,35,20,20,14,5,4,1,2,0,0
9270,2015,......6800 Porrentruy,Ständige Wohnbevölkerung,Mann,"Verwitwet, durch Tod aufgelöste Partnerschaft",75,0,0,0,0,...,4,3,3,10,9,21,16,6,1,0
9271,2015,......6800 Porrentruy,Ständige Wohnbevölkerung,Mann,"Geschieden, unverheiratet, gerichtlich aufgelö...",279,0,1,1,9,...,29,36,30,24,8,10,1,1,0,0
9272,2015,......6803 Rocourt,Ständige Wohnbevölkerung,Mann,Zivilstand - Total,78,2,5,0,7,...,3,8,8,7,5,1,2,0,1,0
9273,2015,......6803 Rocourt,Ständige Wohnbevölkerung,Mann,Ledig,29,2,4,0,3,...,0,1,0,0,0,0,0,0,0,0
9274,2015,......6803 Rocourt,Ständige Wohnbevölkerung,Mann,"Verwitwet, durch Tod aufgelöste Partnerschaft",1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
9275,2015,......6803 Rocourt,Ständige Wohnbevölkerung,Mann,"Geschieden, unverheiratet, gerichtlich aufgelö...",7,0,0,0,0,...,0,2,1,0,2,0,0,0,0,0
9276,2015,......6806 Vendlincourt,Ständige Wohnbevölkerung,Mann,Zivilstand - Total,284,25,18,12,6,...,20,19,21,14,11,6,4,2,1,0
9277,2015,......6806 Vendlincourt,Ständige Wohnbevölkerung,Mann,Ledig,134,23,15,6,2,...,4,1,2,3,1,0,0,0,0,0
9278,2015,......6806 Vendlincourt,Ständige Wohnbevölkerung,Mann,"Verwitwet, durch Tod aufgelöste Partnerschaft",7,0,0,0,0,...,0,1,1,0,0,1,1,2,1,0
9279,2015,......6806 Vendlincourt,Ständige Wohnbevölkerung,Mann,"Geschieden, unverheiratet, gerichtlich aufgelö...",21,0,0,1,1,...,4,3,5,1,0,1,1,0,0,0
9280,2015,......6807 Basse-Allaine,Ständige Wohnbevölkerung,Mann,Zivilstand - Total,606,31,26,32,37,...,40,31,50,28,18,22,12,2,3,0
9281,2015,......6807 Basse-Allaine,Ständige Wohnbevölkerung,Mann,Ledig,271,31,19,18,8,...,9,4,3,3,1,0,1,0,0,0
9282,2015,......6807 Basse-Allaine,Ständige Wohnbevölkerung,Mann,"Verwitwet, durch Tod aufgelöste Partnerschaft",22,0,0,0,0,...,1,1,1,2,2,5,6,0,3,0
9283,2015,......6807 Basse-Allaine,Ständige Wohnbevölkerung,Mann,"Geschieden, unverheiratet, gerichtlich aufgelö...",44,0,1,0,3,...,6,5,9,2,1,2,0,0,0,0
9284,2015,......6808 Clos du Doubs,Ständige Wohnbevölkerung,Mann,Zivilstand - Total,651,40,36,40,33,...,51,52,44,34,20,26,8,9,1,0
9285,2015,......6808 Clos du Doubs,Ständige Wohnbevölkerung,Mann,Ledig,300,40,29,25,14,...,11,3,6,3,5,5,0,1,0,0
9286,2015,......6808 Clos du Doubs,Ständige Wohnbevölkerung,Mann,"Verwitwet, durch Tod aufgelöste Partnerschaft",15,0,0,0,0,...,1,2,1,2,0,2,0,5,1,0
9287,2015,......6808 Clos du Doubs,Ständige Wohnbevölkerung,Mann,"Geschieden, unverheiratet, gerichtlich aufgelö...",51,0,0,0,4,...,10,8,9,5,0,3,0,0,0,0
9288,2015,......6809 Haute-Ajoie,Ständige Wohnbevölkerung,Mann,Zivilstand - Total,480,26,38,15,21,...,47,44,38,25,13,14,6,2,3,0
9289,2015,......6809 Haute-Ajoie,Ständige Wohnbevölkerung,Mann,Ledig,213,26,34,6,10,...,7,10,4,1,1,1,1,0,0,0
9290,2015,......6809 Haute-Ajoie,Ständige Wohnbevölkerung,Mann,"Verwitwet, durch Tod aufgelöste Partnerschaft",16,0,0,0,0,...,1,1,2,3,1,3,1,0,3,0
9291,2015,......6809 Haute-Ajoie,Ständige Wohnbevölkerung,Mann,"Geschieden, unverheiratet, gerichtlich aufgelö...",34,0,0,1,1,...,9,3,10,1,0,0,0,0,0,0
9292,2015,......6810 La Baroche,Ständige Wohnbevölkerung,Mann,Zivilstand - Total,589,29,22,24,35,...,38,43,38,32,27,18,6,5,1,0
9293,2015,......6810 La Baroche,Ständige Wohnbevölkerung,Mann,Ledig,267,29,19,13,11,...,7,6,4,1,3,2,1,0,0,0
9294,2015,......6810 La Baroche,Ständige Wohnbevölkerung,Mann,"Verwitwet, durch Tod aufgelöste Partnerschaft",13,0,0,0,0,...,0,0,0,3,1,2,2,3,1,0
9295,2015,......6810 La Baroche,Ständige Wohnbevölkerung,Mann,"Geschieden, unverheiratet, gerichtlich aufgelö...",48,0,0,1,0,...,9,7,5,7,2,0,0,0,0,0

In [8]:
#Creating DF for total
df_total_2015 = df[['Kanton (-) / Bezirk (>>) / Gemeinde (......)', 'Geschlecht', 'Altersklasse - Total']].copy()
#Filerting out every fourth row, starting with the first
df_total_2015 = df_total_2015.iloc[::4, :]
#Renaming Columns
df_total_2015.columns = [['Gemeinde', 'Geschlecht', 'Männer - Total']]

In [9]:
#Creating DF for ledig
df_alle_2015 = df[['Kanton (-) / Bezirk (>>) / Gemeinde (......)', 'Geschlecht', 'Zivilstand', 'Altersklasse - Total']].copy()

In [10]:
#Slicing all of the relevant rows
df_ledig_2015 = df_alle_2015.iloc[1::4, :]
df_verwitwet_2015 = df_alle_2015.iloc[2::4, :]
df_geschieden_2015 = df_alle_2015.iloc[3::4, :]

In [11]:
#Merging for full count of singles incl. verwitwet & geschieden
df_ledig_2015 = df_ledig_2015.merge(df_verwitwet_2015, left_on='Kanton (-) / Bezirk (>>) / Gemeinde (......)', right_on='Kanton (-) / Bezirk (>>) / Gemeinde (......)')
df_ledig_2015 = df_ledig_2015.merge(df_geschieden_2015, left_on='Kanton (-) / Bezirk (>>) / Gemeinde (......)', right_on='Kanton (-) / Bezirk (>>) / Gemeinde (......)')

In [12]:
del df_ledig_2015['Geschlecht_x']
del df_ledig_2015['Zivilstand_x']
del df_ledig_2015['Geschlecht_y']
del df_ledig_2015['Zivilstand_y']
del df_ledig_2015['Geschlecht']
del df_ledig_2015['Zivilstand']

In [14]:
df_ledig_2015.columns = [['Gemeinde', 'Ledig', 'Verwitwet', 'Geschieden']]

In [15]:
df_ledig_2015['Total ledige Männer ab 20'] = df_ledig_2015.sum(axis=1)

In [16]:
df_ledig_2015.head()

,Gemeinde,Ledig,Verwitwet,Geschieden,Total ledige Männer ab 20
0,......0001 Aeugst am Albis,450,15,58,523
1,......0002 Affoltern am Albis,2721,108,390,3219
2,......0003 Bonstetten,1196,26,163,1385
3,......0004 Hausen am Albis,730,20,134,884
4,......0005 Hedingen,824,40,126,990

In [17]:
df_total_2015.head()

                         Gemeinde Geschlecht  Männer - Total
0      ......0001 Aeugst am Albis       Mann             987
4   ......0002 Affoltern am Albis       Mann            5818
8           ......0003 Bonstetten       Mann            2614
12     ......0004 Hausen am Albis       Mann            1687
16            ......0005 Hedingen       Mann            1844

In [18]:
df_total_2015 = df_total_2015.merge(df_ledig_2015, left_on='Gemeinde', right_on='Gemeinde')

In [19]:
del df_total_2015['Ledig']
del df_total_2015['Verwitwet']
del df_total_2015['Geschieden']

In [20]:
df_total_2015['Anteil ledige Männer'] = round(df_total_2015['Total ledige Männer ab 20'] / df_total_2015['Männer - Total'] * 100, 1)

# Anteil ledige Frauen nach Gemeinde

In [21]:
df_total_2015.sort_values(by='Anteil ledige Männer', ascending = False).head()

,Gemeinde,Geschlecht,Männer - Total,Total ledige Männer ab 20,Anteil ledige Männer
1633,......5102 Corippo,Mann,7,6,85.7
199,......0708 Schelten,Mann,19,15,78.9
2057,......6011 Zwischbergen,Mann,51,37,72.5
1739,......5407 Leysin,Mann,2007,1414,70.5
1218,......3708 Mathon,Mann,30,21,70.0

# Now the age categories

In [22]:
#Slicing
df_all = df.iloc[::4, :]
df_ledig_all = df.iloc[1::4, :]
df_verwitwet_all = df.iloc[2::4, :]
df_geschieden_all = df.iloc[3::4, :]

In [23]:
#Creating a list with the columns
alter_list = list(df_all.columns)

In [24]:
alter_list = alter_list[6:]

In [25]:
for alter in alter_list:
    zero = df_all[['Kanton (-) / Bezirk (>>) / Gemeinde (......)', 'Altersklasse - Total']].copy()
    zero.columns = [['Gemeinde', 'Männer Total']]
    one = df_ledig_all[['Kanton (-) / Bezirk (>>) / Gemeinde (......)', alter]].copy()
    one.columns = [['Gemeinde', alter]]
    two = df_verwitwet_all[['Kanton (-) / Bezirk (>>) / Gemeinde (......)', alter]].copy()
    two.columns = [['Gemeinde', alter]]
    three = df_geschieden_all[['Kanton (-) / Bezirk (>>) / Gemeinde (......)', alter]].copy()
    three.columns = [['Gemeinde', alter]]
    
    zero = zero.merge(one, left_on='Gemeinde', right_on='Gemeinde')
    zero = zero.merge(two, left_on='Gemeinde', right_on='Gemeinde')
    zero = zero.merge(three, left_on='Gemeinde', right_on='Gemeinde')
    zero['Ledige' + alter + 'Männer Total'] = zero.sum(axis=1) - zero['Männer Total']
    zero['Anteil' + alter] = round(zero['Ledige' + alter + 'Männer Total'] / zero['Männer Total'] * 100, 1)
    
    del zero['Männer Total']
    del zero[ alter +'_x']
    del zero[ alter +'_y']
    del zero[ alter ]
    
    df_total_2015 = df_total_2015.merge(zero, left_on='Gemeinde', right_on='Gemeinde')

In [26]:
df_total_2015.sort_values(by='Ledige20-24 JahreMänner Total', ascending=False).head(3)

,Gemeinde,Geschlecht,Männer - Total,Total ledige Männer ab 20,Anteil ledige Männer,Ledige20-24 JahreMänner Total,Anteil20-24 Jahre,Ledige25-29 JahreMänner Total,Anteil25-29 Jahre,Ledige30-34 JahreMänner Total,...,Ledige80-84 JahreMänner Total,Anteil80-84 Jahre,Ledige85-89 JahreMänner Total,Anteil85-89 Jahre,Ledige90-94 JahreMänner Total,Anteil90-94 Jahre,Ledige95-99 JahreMänner Total,Anteil95-99 Jahre,Ledige100 Jahre und mehrMänner Total,Anteil100 Jahre und mehr
168,......0261 Zürich,Mann,197241,128363,65.1,9558,4.8,16459,8.3,16545,...,1235,0.6,937,0.5,529,0.3,129,0.1,14,0.0
2242,......6621 Genève,Mann,95146,58049,61.0,5341,5.6,6612,6.9,5971,...,591,0.6,423,0.4,219,0.2,42,0.0,9,0.0
1900,......5586 Lausanne,Mann,65235,41667,63.9,4449,6.8,5442,8.3,4579,...,371,0.6,271,0.4,136,0.2,32,0.0,5,0.0

In [27]:
df_total_2015.sort_values(by='Anteil ledige Männer', ascending=False).head(3)

,Gemeinde,Geschlecht,Männer - Total,Total ledige Männer ab 20,Anteil ledige Männer,Ledige20-24 JahreMänner Total,Anteil20-24 Jahre,Ledige25-29 JahreMänner Total,Anteil25-29 Jahre,Ledige30-34 JahreMänner Total,...,Ledige80-84 JahreMänner Total,Anteil80-84 Jahre,Ledige85-89 JahreMänner Total,Anteil85-89 Jahre,Ledige90-94 JahreMänner Total,Anteil90-94 Jahre,Ledige95-99 JahreMänner Total,Anteil95-99 Jahre,Ledige100 Jahre und mehrMänner Total,Anteil100 Jahre und mehr
1633,......5102 Corippo,Mann,7,6,85.7,0,0.0,0,0.0,0,...,1,14.3,1,14.3,0,0.0,0,0.0,0,0.0
199,......0708 Schelten,Mann,19,15,78.9,1,5.3,1,5.3,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
2057,......6011 Zwischbergen,Mann,51,37,72.5,6,11.8,7,13.7,4,...,1,2.0,0,0.0,0,0.0,0,0.0,0,0.0

In [28]:
df_total_2015.sort_values(by='Anteil20-24 Jahre', ascending=False).head(3)

,Gemeinde,Geschlecht,Männer - Total,Total ledige Männer ab 20,Anteil ledige Männer,Ledige20-24 JahreMänner Total,Anteil20-24 Jahre,Ledige25-29 JahreMänner Total,Anteil25-29 Jahre,Ledige30-34 JahreMänner Total,...,Ledige80-84 JahreMänner Total,Anteil80-84 Jahre,Ledige85-89 JahreMänner Total,Anteil85-89 Jahre,Ledige90-94 JahreMänner Total,Anteil90-94 Jahre,Ledige95-99 JahreMänner Total,Anteil95-99 Jahre,Ledige100 Jahre und mehrMänner Total,Anteil100 Jahre und mehr
2155,......6244 Randogne,Mann,2203,1454,66.0,564,25.6,131,5.9,82,...,12,0.5,3,0.1,4,0.2,2,0.1,0,0.0
200,......0709 Seehof,Mann,38,22,57.9,7,18.4,1,2.6,3,...,1,2.6,0,0.0,0,0.0,0,0.0,0,0.0
1893,......5935 Villars-Epeney,Mann,48,29,60.4,8,16.7,2,4.2,0,...,0,0.0,1,2.1,0,0.0,0,0.0,0,0.0

In [29]:
df_total_2015[df_total_2015['Männer - Total'] > 100].sort_values(by='Anteil25-29 Jahre', ascending=False).head(3)

,Gemeinde,Geschlecht,Männer - Total,Total ledige Männer ab 20,Anteil ledige Männer,Ledige20-24 JahreMänner Total,Anteil20-24 Jahre,Ledige25-29 JahreMänner Total,Anteil25-29 Jahre,Ledige30-34 JahreMänner Total,...,Ledige80-84 JahreMänner Total,Anteil80-84 Jahre,Ledige85-89 JahreMänner Total,Anteil85-89 Jahre,Ledige90-94 JahreMänner Total,Anteil90-94 Jahre,Ledige95-99 JahreMänner Total,Anteil95-99 Jahre,Ledige100 Jahre und mehrMänner Total,Anteil100 Jahre und mehr
1292,......3611 Andiast,Mann,101,51,50.5,6,5.9,13,12.9,3,...,1,1.0,2,2.0,0,0.0,0,0.0,0,0.0
1294,......3616 Waltensburg/Vuorz,Mann,173,97,56.1,13,7.5,20,11.6,3,...,1,0.6,0,0.0,1,0.6,0,0.0,0,0.0
609,......1202 Andermatt,Mann,737,416,56.4,35,4.7,72,9.8,48,...,1,0.1,4,0.5,4,0.5,1,0.1,0,0.0

In [30]:
df_total_2015[df_total_2015['Männer - Total'] > 100].sort_values(by='Anteil30-34 Jahre', ascending=False).head(3)

,Gemeinde,Geschlecht,Männer - Total,Total ledige Männer ab 20,Anteil ledige Männer,Ledige20-24 JahreMänner Total,Anteil20-24 Jahre,Ledige25-29 JahreMänner Total,Anteil25-29 Jahre,Ledige30-34 JahreMänner Total,...,Ledige80-84 JahreMänner Total,Anteil80-84 Jahre,Ledige85-89 JahreMänner Total,Anteil85-89 Jahre,Ledige90-94 JahreMänner Total,Anteil90-94 Jahre,Ledige95-99 JahreMänner Total,Anteil95-99 Jahre,Ledige100 Jahre und mehrMänner Total,Anteil100 Jahre und mehr
168,......0261 Zürich,Mann,197241,128363,65.1,9558,4.8,16459,8.3,16545,...,1235,0.6,937,0.5,529,0.3,129,0.1,14,0.0
1649,......5135 Vogorno,Mann,143,83,58.0,6,4.2,7,4.9,12,...,0,0.0,2,1.4,0,0.0,0,0.0,0,0.0
361,......0351 Bern,Mann,63140,40833,64.7,3260,5.2,5366,8.5,5017,...,399,0.6,296,0.5,190,0.3,47,0.1,4,0.0

In [31]:
df_total_2015[df_total_2015['Männer - Total'] > 200].sort_values(by='Anteil35-39 Jahre', ascending=False).head(3)

,Gemeinde,Geschlecht,Männer - Total,Total ledige Männer ab 20,Anteil ledige Männer,Ledige20-24 JahreMänner Total,Anteil20-24 Jahre,Ledige25-29 JahreMänner Total,Anteil25-29 Jahre,Ledige30-34 JahreMänner Total,...,Ledige80-84 JahreMänner Total,Anteil80-84 Jahre,Ledige85-89 JahreMänner Total,Anteil85-89 Jahre,Ledige90-94 JahreMänner Total,Anteil90-94 Jahre,Ledige95-99 JahreMänner Total,Anteil95-99 Jahre,Ledige100 Jahre und mehrMänner Total,Anteil100 Jahre und mehr
2140,......6214 Finhaut,Mann,280,141,50.4,9,3.2,11,3.9,22,...,0,0.0,1,0.4,1,0.4,0,0.0,0,0.0
168,......0261 Zürich,Mann,197241,128363,65.1,9558,4.8,16459,8.3,16545,...,1235,0.6,937,0.5,529,0.3,129,0.1,14,0.0
690,......2004 Bussy (FR),Mann,242,142,58.7,16,6.6,17,7.0,19,...,2,0.8,1,0.4,0,0.0,0,0.0,0,0.0

In [36]:
df_total_2015[df_total_2015['Männer - Total'] > 200].sort_values(by='Anteil40-44 Jahre', ascending=False).head(3)

,Gemeinde,Geschlecht,Männer - Total,Total ledige Männer ab 20,Anteil ledige Männer,Ledige20-24 JahreMänner Total,Anteil20-24 Jahre,Ledige25-29 JahreMänner Total,Anteil25-29 Jahre,Ledige30-34 JahreMänner Total,...,Ledige80-84 JahreMänner Total,Anteil80-84 Jahre,Ledige85-89 JahreMänner Total,Anteil85-89 Jahre,Ledige90-94 JahreMänner Total,Anteil90-94 Jahre,Ledige95-99 JahreMänner Total,Anteil95-99 Jahre,Ledige100 Jahre und mehrMänner Total,Anteil100 Jahre und mehr
281,......0334 Obersteckholz,Mann,205,106,51.7,5,2.4,3,1.5,5,...,3,1.5,0,0.0,2,1.0,0,0.0,0,0.0
1673,......5186 Grancia,Mann,259,142,54.8,21,8.1,7,2.7,12,...,0,0.0,0,0.0,1,0.4,0,0.0,0,0.0
643,......1361 Alpthal,Mann,307,181,59.0,19,6.2,10,3.3,10,...,2,0.7,1,0.3,0,0.0,0,0.0,0,0.0

In [37]:
df_total_2015[df_total_2015['Männer - Total'] > 200].sort_values(by='Anteil45-49 Jahre', ascending=False).head(3)

,Gemeinde,Geschlecht,Männer - Total,Total ledige Männer ab 20,Anteil ledige Männer,Ledige20-24 JahreMänner Total,Anteil20-24 Jahre,Ledige25-29 JahreMänner Total,Anteil25-29 Jahre,Ledige30-34 JahreMänner Total,...,Ledige80-84 JahreMänner Total,Anteil80-84 Jahre,Ledige85-89 JahreMänner Total,Anteil85-89 Jahre,Ledige90-94 JahreMänner Total,Anteil90-94 Jahre,Ledige95-99 JahreMänner Total,Anteil95-99 Jahre,Ledige100 Jahre und mehrMänner Total,Anteil100 Jahre und mehr
514,......0589 Oberried am Brienzersee,Mann,222,125,56.3,10,4.5,10,4.5,3,...,2,0.9,3,1.4,0,0.0,0,0.0,0,0.0
77,......0098 Schleinikon,Mann,373,218,58.4,28,7.5,16,4.3,10,...,2,0.5,1,0.3,0,0.0,0,0.0,0,0.0
1472,......4259 Schupfart,Mann,405,228,56.3,25,6.2,23,5.7,14,...,1,0.2,1,0.2,0,0.0,0,0.0,0,0.0

In [38]:
df_total_2015[df_total_2015['Männer - Total'] > 200].sort_values(by='Anteil50-54 Jahre', ascending=False).head(3)

,Gemeinde,Geschlecht,Männer - Total,Total ledige Männer ab 20,Anteil ledige Männer,Ledige20-24 JahreMänner Total,Anteil20-24 Jahre,Ledige25-29 JahreMänner Total,Anteil25-29 Jahre,Ledige30-34 JahreMänner Total,...,Ledige80-84 JahreMänner Total,Anteil80-84 Jahre,Ledige85-89 JahreMänner Total,Anteil85-89 Jahre,Ledige90-94 JahreMänner Total,Anteil90-94 Jahre,Ledige95-99 JahreMänner Total,Anteil95-99 Jahre,Ledige100 Jahre und mehrMänner Total,Anteil100 Jahre und mehr
1418,......4176 Schwaderloch,Mann,357,197,55.2,22,6.2,19,5.3,14,...,2,0.6,0,0.0,0,0.0,0,0.0,0,0.0
263,......0736 Hagneck,Mann,207,99,47.8,8,3.9,5,2.4,9,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
1514,......4319 Siglistorf,Mann,329,185,56.2,21,6.4,13,4.0,10,...,1,0.3,1,0.3,0,0.0,0,0.0,0,0.0

In [39]:
df_total_2015[df_total_2015['Männer - Total'] > 200].sort_values(by='Anteil55-59 Jahre', ascending=False).head(3)

,Gemeinde,Geschlecht,Männer - Total,Total ledige Männer ab 20,Anteil ledige Männer,Ledige20-24 JahreMänner Total,Anteil20-24 Jahre,Ledige25-29 JahreMänner Total,Anteil25-29 Jahre,Ledige30-34 JahreMänner Total,...,Ledige80-84 JahreMänner Total,Anteil80-84 Jahre,Ledige85-89 JahreMänner Total,Anteil85-89 Jahre,Ledige90-94 JahreMänner Total,Anteil90-94 Jahre,Ledige95-99 JahreMänner Total,Anteil95-99 Jahre,Ledige100 Jahre und mehrMänner Total,Anteil100 Jahre und mehr
254,......0497 Lüscherz,Mann,270,149,55.2,13,4.8,13,4.8,13,...,2,0.7,1,0.4,0,0.0,0,0.0,0,0.0
890,......2492 Kienberg,Mann,274,152,55.5,17,6.2,6,2.2,11,...,2,0.7,1,0.4,1,0.4,0,0.0,0,0.0
1610,......5014 Pianezzo,Mann,299,153,51.2,12,4.0,10,3.3,11,...,3,1.0,1,0.3,1,0.3,1,0.3,0,0.0

In [40]:
df_total_2015[df_total_2015['Männer - Total'] > 200].sort_values(by='Anteil60-64 Jahre', ascending=False).head(3)

,Gemeinde,Geschlecht,Männer - Total,Total ledige Männer ab 20,Anteil ledige Männer,Ledige20-24 JahreMänner Total,Anteil20-24 Jahre,Ledige25-29 JahreMänner Total,Anteil25-29 Jahre,Ledige30-34 JahreMänner Total,...,Ledige80-84 JahreMänner Total,Anteil80-84 Jahre,Ledige85-89 JahreMänner Total,Anteil85-89 Jahre,Ledige90-94 JahreMänner Total,Anteil90-94 Jahre,Ledige95-99 JahreMänner Total,Anteil95-99 Jahre,Ledige100 Jahre und mehrMänner Total,Anteil100 Jahre und mehr
622,......1215 Seelisberg,Mann,339,188,55.5,11,3.2,6,1.8,14,...,3,0.9,2,0.6,2,0.6,0,0.0,0,0.0
1864,......5871 L'Abbaye,Mann,705,378,53.6,44,6.2,35,5.0,21,...,3,0.4,2,0.3,0,0.0,0,0.0,1,0.1
1775,......5813 Chevroux,Mann,219,114,52.1,13,5.9,11,5.0,1,...,1,0.5,0,0.0,0,0.0,0,0.0,0,0.0

In [41]:
df_total_2015[df_total_2015['Männer - Total'] > 200].sort_values(by='Anteil65-69 Jahre', ascending=False).head(3)

,Gemeinde,Geschlecht,Männer - Total,Total ledige Männer ab 20,Anteil ledige Männer,Ledige20-24 JahreMänner Total,Anteil20-24 Jahre,Ledige25-29 JahreMänner Total,Anteil25-29 Jahre,Ledige30-34 JahreMänner Total,...,Ledige80-84 JahreMänner Total,Anteil80-84 Jahre,Ledige85-89 JahreMänner Total,Anteil85-89 Jahre,Ledige90-94 JahreMänner Total,Anteil90-94 Jahre,Ledige95-99 JahreMänner Total,Anteil95-99 Jahre,Ledige100 Jahre und mehrMänner Total,Anteil100 Jahre und mehr
1645,......5125 Ronco sopra Ascona,Mann,322,172,53.4,10,3.1,22,6.8,10,...,1,0.3,3,0.9,2,0.6,0,0.0,0,0.0
650,......1368 Oberiberg,Mann,477,254,53.2,14,2.9,14,2.9,18,...,3,0.6,2,0.4,2,0.4,1,0.2,0,0.0
1064,......2938 Rüdlingen,Mann,364,179,49.2,12,3.3,9,2.5,6,...,0,0.0,1,0.3,1,0.3,0,0.0,0,0.0

In [42]:
df_total_2015[df_total_2015['Männer - Total'] > 200].sort_values(by='Anteil70-74 Jahre', ascending=False).head(3)

,Gemeinde,Geschlecht,Männer - Total,Total ledige Männer ab 20,Anteil ledige Männer,Ledige20-24 JahreMänner Total,Anteil20-24 Jahre,Ledige25-29 JahreMänner Total,Anteil25-29 Jahre,Ledige30-34 JahreMänner Total,...,Ledige80-84 JahreMänner Total,Anteil80-84 Jahre,Ledige85-89 JahreMänner Total,Anteil85-89 Jahre,Ledige90-94 JahreMänner Total,Anteil90-94 Jahre,Ledige95-99 JahreMänner Total,Anteil95-99 Jahre,Ledige100 Jahre und mehrMänner Total,Anteil100 Jahre und mehr
2115,......6155 Saint-Gingolph,Mann,448,251,56.0,22,4.9,17,3.8,10,...,5,1.1,4,0.9,3,0.7,1,0.2,0,0.0
650,......1368 Oberiberg,Mann,477,254,53.2,14,2.9,14,2.9,18,...,3,0.6,2,0.4,2,0.4,1,0.2,0,0.0
2072,......6056 Ernen,Mann,253,124,49.0,16,6.3,11,4.3,11,...,2,0.8,1,0.4,1,0.4,0,0.0,0,0.0

In [43]:
df_total_2015[df_total_2015['Männer - Total'] > 200].sort_values(by='Anteil75-79 Jahre', ascending=False).head(3)

,Gemeinde,Geschlecht,Männer - Total,Total ledige Männer ab 20,Anteil ledige Männer,Ledige20-24 JahreMänner Total,Anteil20-24 Jahre,Ledige25-29 JahreMänner Total,Anteil25-29 Jahre,Ledige30-34 JahreMänner Total,...,Ledige80-84 JahreMänner Total,Anteil80-84 Jahre,Ledige85-89 JahreMänner Total,Anteil85-89 Jahre,Ledige90-94 JahreMänner Total,Anteil90-94 Jahre,Ledige95-99 JahreMänner Total,Anteil95-99 Jahre,Ledige100 Jahre und mehrMänner Total,Anteil100 Jahre und mehr
1287,......3572 Falera,Mann,326,156,47.9,19,5.8,14,4.3,13,...,4,1.2,0,0.0,1,0.3,0,0.0,0,0.0
1503,......4308 Kaiserstuhl,Mann,216,124,57.4,13,6.0,11,5.1,9,...,2,0.9,0,0.0,1,0.5,0,0.0,0,0.0
2078,......6074 Münster-Geschinen,Mann,220,117,53.2,16,7.3,13,5.9,10,...,1,0.5,0,0.0,2,0.9,0,0.0,0,0.0

In [44]:
df_total_2015[df_total_2015['Männer - Total'] > 200].sort_values(by='Anteil80-84 Jahre', ascending=False).head(3)

,Gemeinde,Geschlecht,Männer - Total,Total ledige Männer ab 20,Anteil ledige Männer,Ledige20-24 JahreMänner Total,Anteil20-24 Jahre,Ledige25-29 JahreMänner Total,Anteil25-29 Jahre,Ledige30-34 JahreMänner Total,...,Ledige80-84 JahreMänner Total,Anteil80-84 Jahre,Ledige85-89 JahreMänner Total,Anteil85-89 Jahre,Ledige90-94 JahreMänner Total,Anteil90-94 Jahre,Ledige95-99 JahreMänner Total,Anteil95-99 Jahre,Ledige100 Jahre und mehrMänner Total,Anteil100 Jahre und mehr
2122,......6177 Grengiols,Mann,209,105,50.2,15,7.2,11,5.3,5,...,6,2.9,1,0.5,0,0.0,0,0.0,0,0.0
266,......0741 Merzligen,Mann,203,97,47.8,6,3.0,5,2.5,3,...,4,2.0,0,0.0,0,0.0,0,0.0,0,0.0
947,......2585 Walterswil (SO),Mann,355,196,55.2,22,6.2,19,5.4,8,...,7,2.0,2,0.6,0,0.0,0,0.0,0,0.0

In [45]:
df_total_2015[df_total_2015['Männer - Total'] > 200].sort_values(by='Anteil85-89 Jahre', ascending=False).head(3)

,Gemeinde,Geschlecht,Männer - Total,Total ledige Männer ab 20,Anteil ledige Männer,Ledige20-24 JahreMänner Total,Anteil20-24 Jahre,Ledige25-29 JahreMänner Total,Anteil25-29 Jahre,Ledige30-34 JahreMänner Total,...,Ledige80-84 JahreMänner Total,Anteil80-84 Jahre,Ledige85-89 JahreMänner Total,Anteil85-89 Jahre,Ledige90-94 JahreMänner Total,Anteil90-94 Jahre,Ledige95-99 JahreMänner Total,Anteil95-99 Jahre,Ledige100 Jahre und mehrMänner Total,Anteil100 Jahre und mehr
805,......2258 Fräschels,Mann,245,121,49.4,12,4.9,14,5.7,5,...,2,0.8,5,2.0,0,0.0,0,0.0,0,0.0
1565,......4846 Raperswilen,Mann,209,122,58.4,20,9.6,10,4.8,4,...,1,0.5,4,1.9,0,0.0,0,0.0,0,0.0
1185,......3522 Filisur,Mann,224,117,52.2,14,6.2,14,6.2,7,...,2,0.9,4,1.8,2,0.9,0,0.0,0,0.0

In [46]:
df_total_2015.to_csv('ledige_männer_2015.csv')

In [32]:
df_total_2015

,Gemeinde,Geschlecht,Männer - Total,Total ledige Männer ab 20,Anteil ledige Männer,Ledige20-24 JahreMänner Total,Anteil20-24 Jahre,Ledige25-29 JahreMänner Total,Anteil25-29 Jahre,Ledige30-34 JahreMänner Total,...,Ledige80-84 JahreMänner Total,Anteil80-84 Jahre,Ledige85-89 JahreMänner Total,Anteil85-89 Jahre,Ledige90-94 JahreMänner Total,Anteil90-94 Jahre,Ledige95-99 JahreMänner Total,Anteil95-99 Jahre,Ledige100 Jahre und mehrMänner Total,Anteil100 Jahre und mehr
0,......0001 Aeugst am Albis,Mann,987,523,53.0,55,5.6,33,3.3,27,...,4,0.4,3,0.3,0,0.0,0,0.0,0,0.0
1,......0002 Affoltern am Albis,Mann,5818,3219,55.3,395,6.8,340,5.8,232,...,18,0.3,22,0.4,8,0.1,1,0.0,0,0.0
2,......0003 Bonstetten,Mann,2614,1385,53.0,136,5.2,93,3.6,99,...,9,0.3,7,0.3,2,0.1,0,0.0,0,0.0
3,......0004 Hausen am Albis,Mann,1687,884,52.4,93,5.5,47,2.8,54,...,7,0.4,3,0.2,2,0.1,0,0.0,0,0.0
4,......0005 Hedingen,Mann,1844,990,53.7,118,6.4,81,4.4,69,...,10,0.5,4,0.2,3,0.2,1,0.1,1,0.1
5,......0006 Kappel am Albis,Mann,512,282,55.1,24,4.7,18,3.5,14,...,0,0.0,3,0.6,1,0.2,1,0.2,0,0.0
6,......0007 Knonau,Mann,1063,575,54.1,60,5.6,52,4.9,33,...,5,0.5,6,0.6,1,0.1,0,0.0,0,0.0
7,......0008 Maschwanden,Mann,333,190,57.1,16,4.8,12,3.6,11,...,1,0.3,1,0.3,1,0.3,0,0.0,0,0.0
8,......0009 Mettmenstetten,Mann,2356,1253,53.2,151,6.4,102,4.3,87,...,9,0.4,4,0.2,2,0.1,1,0.0,0,0.0
9,......0010 Obfelden,Mann,2501,1293,51.7,128,5.1,105,4.2,73,...,9,0.4,7,0.3,2,0.1,1,0.0,0,0.0
10,......0011 Ottenbach,Mann,1268,661,52.1,68,5.4,50,3.9,31,...,5,0.4,1,0.1,3,0.2,0,0.0,1,0.1
11,......0012 Rifferswil,Mann,498,255,51.2,24,4.8,18,3.6,14,...,1,0.2,0,0.0,1,0.2,1,0.2,0,0.0
12,......0013 Stallikon,Mann,1746,889,50.9,99,5.7,72,4.1,51,...,7,0.4,3,0.2,1,0.1,0,0.0,0,0.0
13,......0014 Wettswil am Albis,Mann,2416,1209,50.0,104,4.3,94,3.9,92,...,14,0.6,5,0.2,4,0.2,1,0.0,0,0.0
14,......0021 Adlikon,Mann,322,163,50.6,13,4.0,9,2.8,14,...,2,0.6,0,0.0,0,0.0,0,0.0,0,0.0
15,......0022 Benken (ZH),Mann,437,243,55.6,25,5.7,14,3.2,21,...,0,0.0,0,0.0,1,0.2,0,0.0,0,0.0
16,......0023 Berg am Irchel,Mann,291,144,49.5,14,4.8,16,5.5,5,...,1,0.3,2,0.7,0,0.0,0,0.0,0,0.0
17,......0024 Buch am Irchel,Mann,472,255,54.0,31,6.6,24,5.1,17,...,1,0.2,0,0.0,0,0.0,0,0.0,0,0.0
18,......0025 Dachsen,Mann,1004,523,52.1,61,6.1,37,3.7,29,...,5,0.5,2,0.2,0,0.0,1,0.1,0,0.0
19,......0026 Dorf,Mann,312,142,45.5,16,5.1,13,4.2,6,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
20,......0027 Feuerthalen,Mann,1779,968,54.4,92,5.2,84,4.7,65,...,9,0.5,6,0.3,5,0.3,0,0.0,0,0.0
21,......0028 Flaach,Mann,690,362,52.5,38,5.5,35,5.1,27,...,1,0.1,3,0.4,5,0.7,0,0.0,0,0.0
22,......0029 Flurlingen,Mann,729,409,56.1,42,5.8,33,4.5,31,...,4,0.5,5,0.7,2,0.3,0,0.0,0,0.0
23,......0030 Andelfingen,Mann,1065,567,53.2,52,4.9,47,4.4,45,...,5,0.5,4,0.4,0,0.0,1,0.1,0,0.0
24,......0031 Henggart,Mann,1073,533,49.7,45,4.2,45,4.2,23,...,4,0.4,2,0.2,0,0.0,0,0.0,0,0.0
25,......0032 Humlikon,Mann,250,121,48.4,13,5.2,11,4.4,6,...,1,0.4,0,0.0,0,0.0,0,0.0,0,0.0
26,......0033 Kleinandelfingen,Mann,1036,530,51.2,49,4.7,39,3.8,29,...,4,0.4,1,0.1,0,0.0,0,0.0,1,0.1
27,......0034 Laufen-Uhwiesen,Mann,817,404,49.4,33,4.0,29,3.5,18,...,4,0.5,6,0.7,1,0.1,2,0.2,1,0.1
28,......0035 Marthalen,Mann,972,514,52.9,68,7.0,46,4.7,40,...,1,0.1,1,0.1,1,0.1,0,0.0,0,0.0
29,......0036 Oberstammheim,Mann,586,314,53.6,42,7.2,27,4.6,23,...,1,0.2,1,0.2,3,0.5,1,0.2,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2294,......6748 Les Genevez (JU),Mann,257,146,56.8,15,5.8,14,5.4,4,...,3,1.2,1,0.4,0,0.0,0,0.0,0,0.0
2295,......6750 Lajoux (JU),Mann,326,178,54.6,24,7.4,18,5.5,11,...,1,0.3,2,0.6,0,0.0,0,0.0,0,0.0
2296,......6751 Montfaucon,Mann,321,180,56.1,19,5.9,11,3.4,6,...,2,0.6,3,0.9,0,0.0,0,0.0,0,0.0
2297,......6753 Muriaux,Mann,262,151,57.6,17,6.5,16,6.1,13,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
2298,......6754 Le Noirmont,Mann,871,468,53.7,64,7.3,53,6.1,45,...,5,0.6,4,0.5,2,0.2,0,0.0,0,0.0
2299,......6757 Saignelégier,Mann,1271,720,56.6,93,7.3,70,5.5,51,...,8,0.6,5,0.4,4,0.3,0,0.0,0,0.0
2300,......6758 Saint-Brais,Mann,118,68,57.6,9,7.6,5,4.2,6,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
2301,......6759 Soubey,Mann,74,40,54.1,4,5.4,0,0.0,1,...,2,2.7,1,1.4,0,0.0,0,0.0,0,0.0
2302,......6771 Alle,Mann,878,494,56.3,59,6.7,39,4.4,17,...,9,1.0,6,0.7,1,0.1,1,0.1,0,0.0
2303,......6773 Beurnevésin,Mann,62,29,46.8,2,3.2,1,1.6,1,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
2304,......6774 Boncourt,Mann,592,316,53.4,40,6.8,27,4.6,11,...,3,0.5,3,0.5,4,0.7,1,0.2,0,0.0
2305,......6775 Bonfol,Mann,318,171,53.8,17,5.3,14,4.4,9,...,5,1.6,0,0.0,1,0.3,0,0.0,0,0.0
2306,......6778 Bure,Mann,343,174,50.7,25,7.3,12,3.5,6,...,3,0.9,4,1.2,0,0.0,1,0.3,0,0.0
2307,......6781 Coeuve,Mann,353,193,54.7,33,9.3,14,4.0,7,...,3,0.8,4,1.1,0,0.0,0,0.0,0,0.0
2308,......6782 Cornol,Mann,521,299,57.4,33,6.3,29,5.6,11,...,4,0.8,3,0.6,1,0.2,0,0.0,0,0.0
2309,......6783 Courchavon,Mann,148,79,53.4,11,7.4,7,4.7,4,...,1,0.7,1,0.7,0,0.0,1,0.7,0,0.0
2310,......6784 Courgenay,Mann,1119,628,56.1,65,5.8,54,4.8,37,...,9,0.8,2,0.2,4,0.4,1,0.1,0,0.0
2311,......6785 Courtedoux,Mann,357,171,47.9,26,7.3,10,2.8,10,...,1,0.3,3,0.8,0,0.0,0,0.0,0,0.0
2312,......6787 Damphreux,Mann,91,51,56.0,10,11.0,7,7.7,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
2313,......6789 Fahy,Mann,174,95,54.6,11,6.3,9,5.2,2,...,2,1.1,2,1.1,0,0.0,0,0.0,0,0.0
2314,......6790 Fontenais,Mann,839,465,55.4,56,6.7,29,3.5,30,...,3,0.4,4,0.5,1,0.1,1,0.1,0,0.0
2315,......6792 Grandfontaine,Mann,184,93,50.5,14,7.6,3,1.6,5,...,3,1.6,0,0.0,0,0.0,0,0.0,0,0.0
2316,......6793 Lugnez,Mann,95,48,50.5,6,6.3,2,2.1,2,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
2317,......6800 Porrentruy,Mann,3338,1981,59.3,277,8.3,215,6.4,130,...,35,1.0,18,0.5,9,0.3,1,0.0,0,0.0
2318,......6803 Rocourt,Mann,78,37,47.4,2,2.6,4,5.1,0,...,0,0.0,0,0.0,0,0.0,1,1.3,0,0.0
2319,......6806 Vendlincourt,Mann,284,162,57.0,23,8.1,15,5.3,7,...,2,0.7,2,0.7,2,0.7,1,0.4,0,0.0
2320,......6807 Basse-Allaine,Mann,606,337,55.6,31,5.1,20,3.3,18,...,7,1.2,7,1.2,0,0.0,3,0.5,0,0.0
2321,......6808 Clos du Doubs,Mann,651,366,56.2,40,6.1,29,4.5,25,...,10,1.5,0,0.0,6,0.9,1,0.2,0,0.0
2322,......6809 Haute-Ajoie,Mann,480,263,54.8,26,5.4,34,7.1,7,...,4,0.8,2,0.4,0,0.0,3,0.6,0,0.0
2323,......6810 La Baroche,Mann,589,328,55.7,29,4.9,19,3.2,14,...,4,0.7,3,0.5,3,0.5,1,0.2,0,0.0